<!-- Lista -->
<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card overflow-auto">
        <div class="card-body">
          <h5 class="card-title">Motoristas cadastros</h5>

          <!-- Table with stripped rows -->
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Foto</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Nascimento</th>
                <th scope="col">Número</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><img
                    src="https://img.freepik.com/fotos-gratis/homem-negro-afro-americano-com-expressao-seria-a-pensar_273609-14062.jpg?size=626&ext=jpg&ga=GA1.1.1102904496.1691038721&semt=ais"
                    alt="foto-registro" style="height: 45px;"></td>
                <td>Renan Alves da Silva</td>
                <td>909.857.048-88</td>

                <td>09-02-2005</td>
                <td>(12) 99630-2834</td>
                <td>silva.renan@aluno.ifsp.edu.br</td>
              </tr>
             
            </tbody>
          </table>
          <!-- End Table with stripped rows -->