<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>EmpresaNome | Passageiros</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/admin/assets/css/style.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Aug 30 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>
  <%- include('../partials/_header.ejs'); -%> 
  <%- include('../partials/_aside.ejs'); -%>
  <!-- Lista -->
  <div class="main">
  <section class="section container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card overflow-auto">
          <div class="card-body">
            <h5 class="card-title">Passageiros cadastros</h5>

          <!-- Table with stripped rows -->
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Nascimento</th>
                <th scope="col">Número</th>
                <th scope="col">Email</th>
                <th colspan="3">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Renan Alves da Silva</td>
                <td>909.857.048-88</td>

                <td>09-02-2005</td>
                <td>(12) 99630-2834</td>
                <td>silva.renan@aluno.ifsp.edu.br</td>
              </tr>
              <tr>


                <td>2</td>
                <td>Jorge Roberto Ruan da Rosa</td>
                <td>519.921.878-60</td>

                <td>25-08-1953</td>
                <td>(11) 99695-6841</td>
                <td>jorge.roberto.darosa@gmail.com</td>
              </tr>
              <tr>


                <td>3</td>
                <td>Oliver Gustavo</td>
                <td>282.835.658-26</td>

                <td>17-01-1992</td>
                <td>(12) 97504-9864</td>
                <td>oliver.gustavo@hotmail.com</td>
              </tr>
              <tr>


                <td>4</td>
                <td>César Antonio Gonçalves</td>
                <td>563.498.928-01</td>

                <td>07-11-2000</td>
                <td>(12) 98743-9310</td>
                <td>cesarantoniogoncalves@gmail.com</td>
              </tr>
              <tr>


                <td>5</td>
                <td>Tânia Isabela Vieira</td>
                <td>824.239.348-66</td>

                <td>15-07-1956</td>
                <td>(11) 99509-3588</td>
                <td>isabela.vieira@gmail.com</td>
              </tr>
              <tr>


                <td>6</td>
                <td>Rosa Melissa da Conceição</td>
                <td>511.159.388-86</td>

                <td>05-01-2000</td>
                <td>(14) 99374-1147</td>
                <td>rosaconceicao@gmail.com</td>
              </tr>
            </tbody>
          </table>
          <!-- End Table with stripped rows -->

        </div>
      </div>
    </div>
  </section>
</div>
  <!-- End lista -->

  <%- include('../partials/_footer.ejs'); -%>
</html>
