<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>NinBus | Passageiros</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

          <!-- Table with stripped rows -->
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Saldo</th>
                <th scope="col">CPF</th>
                <th scope="col">Tipo</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col">Usuario</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
  <!-- End lista -->

  <%- include('../partials/_footer.ejs'); -%>
</html>